$site-font-family: 'Open Sans', sans-serif;
$h1-font-size: 42px;
$h1-font-size-14: 32px;
$p-font-size: 29px;
$p-font-size-mob:14px;
$p-font-size-tab:16px;
$h1-font-size-mobile: 20px;
$main-text-color: #212121;
$button-color-main: #000000;
$bg-color:#ffffff;
$button-color: #0d0d0d;
$img:"../img";
$menuimage: url(#{$img}/menuicon.png);
$blockheight: 920px;
$blockheight-tab:500px;
$blockheight-mob: 320px;
$vert-margin: 210px;
$vert-margin-mob: 64px;
$wrap: 1390px;
$smwrap: 800px;


*{
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i&subset=cyrillic');

body, h1, h2, h3, h4, h5, h6, button, input{
    font-family: $site-font-family;
    font-size: $h1-font-size;
    margin: 0;
}

h1, p, input{
    font-weight: 300;
}

h3{
  font-weight: 300;
  letter-spacing: 2.1px;
  text-align: center;
  color: $main-text-color;
}

.headertext{
    width: 40%;
    padding: 200px 50px;
}


p, input{
    font-size: $p-font-size;
    font-weight: 300;
    text-align: left;
    line-height: 1.45;
    color: #0d0d0d;
}

.logo{
    font-size: $h1-font-size;
    font-weight: 300;
    letter-spacing: 2.1px;
    text-align: left;
    color: $main-text-color;
    text-transform: uppercase;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 0 auto;
}

.mainmenu{
    width: 100%;
}

.wrapper{
    width: $wrap;
    margin: 0 auto;
    background: white;
    padding: 69px 104px;
}

.left{
	float: left;
}
.right{
	float: right;
}

.clear:before,
.clear:after {
    content: "";
    display: table;
}

.clear:after {
    clear: both;
}

.menuimage{
    width: 41px;
    height: 29px;
}

.Header-image {
    margin-top: 60px;
    width: 100%;
    vertical-align: middle;
    background: url(#{$img}/headerimage.jpg) no-repeat center center ;
    overflow: hidden;
    background-size:cover;
}

.highlight{
    font-weight: 400;
}

.block{
    margin-top: $vert-margin;
}

.about{
    width: 50%;
    vertical-align: middle;
}

.pear{
    background: url(#{$img}/pear.jpg)  no-repeat center center;
    overflow: hidden;
    height: $blockheight;
    background-size:cover;

}

.plate{
    background: url(#{$img}/plate.jpg)  no-repeat center center;
    overflow: hidden;
    height: $blockheight;
}

.brad{
    background: url(#{$img}/brad.jpg)  no-repeat center center;
    overflow: hidden;
    height: $blockheight;
}

.meat{
    background: url(#{$img}/meat.jpg)  no-repeat center center;
    overflow: hidden;
    height: $blockheight;
    padding: 75px;
    text-align: right;
}


hr{
        width: $vert-margin;
        height: 3px;
        border:none;
        background-color: #000000;
        margin: 50px auto;
    }

.images{
    width: 100%;
}

.textpart{
    padding: 200px 80px;
}

.graybox{
    padding: 75px;
    background: rgba(115, 115, 115, 0.8);
    width: 50%;
    color: aqua;
    h3, p{
        color: white;
    }
}

.center{
    text-align: center;
}

.manytextblock{
    padding: 0 150px;
    p{
        text-align: center;
    }
}

    .star{
        width: 17px;
        height: 17px; 
    }

    .star_contain{
        margin-top: 40px;
        margin-bottom: 40px;
        width: 120px;
        height: 60px;
    }

.steak{
    background: url(#{$img}/steak.jpg) no-repeat center center;
    overflow: hidden;
    height: $blockheight;
}


button, form{
    background-color: $bg-color;
    border: solid 8px $button-color;
    font-family: $site-font-family;
    font-size: $h1-font-size;
    font-weight: 300;
    text-align: center;
    color: $button-color-main;
    padding: 30px 60px;
    margin-top: 70px;
}

   button:hover{
        background-color: $button-color;
        color: $bg-color;
    }

.tea{
    background: url(#{$img}/tea.jpg) no-repeat center center;
    overflow: hidden;
    height: $blockheight;
    padding: 75px;
    height: 100%;
}

.large{
    font-size: $h1-font-size;
}

.copyright{
    width: $wrap;
    padding: 80px 0;
    background-color: $button-color;
    margin: 0 auto;
    p{
        color: #ffffff;
    }
}

form{
    width: 70%;
    margin: 0 auto;
    padding: 20px 20px;
    font-size: 33px;

    .inptext{
        width: 65%;
        border: none;
        padding: 24px 0px;
    }
    
    .inpbtn{
        width: 25%;
        background-color: #ffffff;
        border: 0;
        border-left: 1px solid black;
        height: 100%;
        padding: 24px 1px 24px 14px;
    }
}

input{
    margin: 0;
}
.formblock{
    padding: 80px 0 200px 0;
}

//@media screen and (max-width: 1390px){
//    .wrapper{
//    width: $smwrap;
//    padding: 30px 50px;
//}  
//}





@media screen and (max-width: 1390px){
    .wrapper{
    width: 100%;
    padding: 30px 20px;
    }
    
    
    body, h1, h2, h3, h4, h5, h6, button, input{
    font-size: $h1-font-size-14;
}
    p, input{
    font-size: $p-font-size-tab;
    font-weight: 300;
    text-align: left;
    line-height: 1.45;
    color: #0d0d0d;
}

.logo{
    font-size: $h1-font-size-14;
}
    
    
    .Header-image {
        margin-top: 40px;
        width: 100%;
        height: 600px;
        vertical-align: middle;
    }
    
    
    .copyright{
        width: 100%;
    }


    .headertext{
        width: 80%;
        padding: 150px 50px;
    }


    .block{
        margin-top: 60px;
    }

    .about{
        width: 50%;
        vertical-align: middle;
    }

    .pear{
        height: $blockheight-tab;

    }

    .plate{
        height: $blockheight-tab;
    }

    .brad{
        height: $blockheight-tab;
    }

    .meat{
        height: $blockheight-tab;
        padding: 20px;
    }


    hr{
            width: $vert-margin;
            height: 3px;
            border:none;
            background-color: #000000;
            margin: 50px auto;
        }

    .images{
        width: 100%;
    }

    .textpart{
        padding: 40px 20px;
    }

    .graybox{
        padding: 20px;
        background: rgba(115, 115, 115, 0.8);
        width: 50%;
        color: aqua;
        h3, p{
            color: white;
        }
    }

    .center{
        text-align: center;
    }

    .manytextblock{
        padding: 0 50px;
        p{
            text-align: center;
        }
    }

        .star{
            width: 17px;
            height: 17px; 
        }

        .star_contain{
            margin-top: 40px;
            margin-bottom: 40px;
            width: 120px;
            height: 60px;
        }

    .steak{
        height: $blockheight-tab;
    }


    button, form{
        font-size: $h1-font-size-14;
        padding: 20px 40px;
        margin-top: 50px;
    }


    .tea{
        height: $blockheight-tab;
        padding: 20px;
    }

    .large{
        font-size: $h1-font-size-14;
    }

    .copyright{
        width: 100%;
        padding: 80px 0;
    }

    form{
        width: 70%;
        margin: 0 auto;
        padding: 20px 20px;
        font-size: 33px;

        .inptext{
            width: 65%;
            border: none;
            padding: 24px 0px;
        }

        .inpbtn{
            width: 25%;
            background-color: #ffffff;
            border: 0;
            border-left: 1px solid black;
            height: 100%;
            padding: 24px 1px 24px 14px;
        }
    }

    input{
        margin: 0;
    }
    .formblock{
        padding: 80px 0 200px 0;
    }

}











@media screen and (max-width: 420px){
    .wrapper{
        width: 100%;
        padding: 20px 10px;
    }
    
    .logo{
        font-size: $h1-font-size-mobile;
}
    body, h1, h2, h3, h4, h5, h6, button, input{
        font-size: $h1-font-size-mobile;
        margin: 0;
}
    
    .menuicon{
        width: 20px;
        height: 16px;
}
    .Header-image {
        margin-top: 20px;
        height: 320px;
}
    .headertext{
        width: 100%;
        padding: 10px 10px;
    
}
    .block{
        margin-top: $vert-margin-mob;
}
    .about{
        width: 100%;
}

    .pear{
        background: url(#{$img}/pear.jpg)  no-repeat center center;
        height: $blockheight-mob;
        background-size: 100% auto;
}
    
    .about{
        width: 100%;
}
    
    .textpart{
    padding: 20px 10px;
}
    
    p, input{
    font-size: $p-font-size-mob;
    font-weight: 300;
}
    .plate{
    height: $blockheight-mob;
}

.brad{
    height: $blockheight-mob;
}
    
.meat{
    height: $blockheight-mob;
    padding: 10px;
    text-align: right;
}
    
    
.textpart{
    padding: 20px 10px;
}

.graybox{
    padding: 10px;
    width: 100%;
}
    
    hr{
        width: $vert-margin-mob;
        height: 2px;
        margin: 20px auto;
    }

    .manytextblock{
    padding: 0 10px;
    p{
        text-align: center;
    }
}

    .star{
        width: 17px;
        height: 17px; 
    }

    .star_contain{
        margin-top: 40px;
        margin-bottom: 40px;
        width: 120px;
        height: 60px;
    }

.steak{
    height: $blockheight-mob;
}


button, form{
    border: solid 8px $button-color;
    font-size: $h1-font-size-mobile;
    color: $button-color-main;
    padding: 20px 40px;
    margin-top: 40px;
}

   button:hover{
        background-color: $button-color;
        color: $bg-color;
    }

.tea{
    height: $blockheight-mob;
    padding: 10px;
}

.large{
    font-size: $h1-font-size-mobile;
}

.copyright{
    width: $wrap;
    padding: 80px 0;
    background-color: $button-color;
    margin: 0 auto;
    p{
        color: #ffffff;
    }
}

form{
    width: 100%;
    margin: 0 auto;
    padding: 10px 10px;
    font-size: 33px;

    .inptext{
        width: 60%;
        border: none;
        padding: 12px 0px;
    }
    
    .inpbtn{
        width: 35%;
        background-color: #ffffff;
        border: 0;
        border-left: 1px solid black;
        height: 100%;
        padding: 14px 1px 14px 6px;
    }
}

input{
    margin: 0;
}
.formblock{
    padding: 40px 0 80px 0;
}
    
    
    .large{
    font-size: $h1-font-size-mobile;
}
}

.copyright{
    width: 100%;
    padding: 40px 0;
}